flask
werkzeug
ultralytics
numpy
pyexiv2
imagecodecs
rtmlib
rapidocr_onnxruntime
easyocr
mutagen
hnswlib
insightface
onnxruntime
pyiqa
rawpy
ldap3
transformers
numpy
gdown
segment-anything
pymupdf
rarfile
py7zr
python-docx
striprtf
waitress
zxing-cpp
vtracer
gallery-dl
git+https://github.com/ultralytics/CLIP/
smplx
trimesh