flask
werkzeug
ultralytics
numpy
pyexiv2
imagecodecs
rtmlib
rapidocr_onnxruntime
easyocr
mutagen
hnswlib
insightface
onnxruntime
pyiqa
rawpy
ldap3
torchreid
numpy
Cython
h5py
Pillow
six
scipy
opencv-python
matplotlib
tb-nightly
future
yacs
gdown
flake8
yapf
isort==4.3.21
imageio